# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
*.o
*.wiki
*~
.ccache
.gcache
.svn
.tempgit
.testgen
\#*
\.#*
build/*
cscope.out
lock/
/tags
temp/
vmlinux*

# ignore some editor and linters temp files
*.swp
.empty
.clangd
compile_commands.json
.cache/
.vscode/
.idea/
compile_flags.txt
.openacr/
.ccls
.ccls-cache/

*.gcov

# direnv
.direnv/

# node
node_modules
.pnpm
.pnp.*
.yarn
ts/gen/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
*.tsbuildinfo

.DS_Store
*.pem
.env
/core.*
decoded_core.log
run/
scratch
/wt/
