*.o
*.wiki
*~
.ccache
.gcache
.svn
.tempgit
.testgen
\#*
\.#*
build/*
cscope.out
lock/
/tags
temp/
vmlinux*
*.swp
.empty

# ignore some editor and linters temp files
.clangd
compile_commands.json
.cache/
compile_flags.txt
.vscode/
.openacr/
.ccls
.ccls-cache/
x2data
