variables:
  #  These variables are to suppress "tell me who you are" GIT error
  GIT_AUTHOR_NAME: "sandbox"
  GIT_COMMITTER_NAME: "sandbox"
  EMAIL: "sandbox@algo"

cache:
  paths:
    - temp/cppcheck.Linux.g++

stages:
  - master-only
  - build
  - test
  - sched-only

# skip pipeline for master, and for temporary branches not eligible to be merged
.excludes: &excludes
  except:
    - master
    - /^tmp.*/
    - schedules

# skip pipeline schedules
.excludes_schedules: &excludes_schedules_tmp
  except:
    - schedules
    - /^tmp.*/

# execute pipeline on when master changes
.masteronly: &masteronly
  rules:
  - if: '$CI_COMMIT_BRANCH == "master" && $CI_PIPELINE_SOURCE != "schedule"'
    changes:
    - "**/*"

# execute pipeline on schedule only
.schedonly: &schedonly
  rules:
  - if: $CI_PIPELINE_SOURCE == "schedule"
    when: always

before_script:
  - echo "${CI_JOB_STAGE}:${CI_JOB_NAME} host:$(hostname) pwd:$(pwd) user:$(whoami) date:$(date)"
  - export PATH="$PATH:bin"

build:
  stage: build
  script:
    - bin/ai
    - gcache -install -dir .gcache
  artifacts:
    paths:
      - build
      - .gcache
    expire_in: 1 week
  <<: *excludes_schedules_tmp

normalize:
  stage: test
  script:
    - bin/normalize "${CI_JOB_NAME}"
  artifacts:
    when: on_failure
    paths:
      - temp/*.log
    expire_in: 1 week
  <<: *excludes

comp:
  stage: test
  script:
    - bin/normalize "${CI_JOB_NAME}"
  artifacts:
    when: always
    paths:
      - temp/*.log
    expire_in: 1 week
    # run on feature branches  (no master no schedule)
  <<: *excludes


coverage:
  stage: test
  script:
    - bin/normalize "${CI_JOB_NAME}"
  # added coverage report parsing
  coverage: '/TOTAL\s+\d+\s+\d+\s+([\d.]+)%?/'  # Extracts 58.62 from "TOTAL 22124 12970 58.62"
  artifacts:
    when: always
    reports:
      coverage_report:
        coverage_format: cobertura
        path: temp/atf_comp/cov.d/cobertura.xml
  # run on all CI runs(feature branches for MR code coverage widget and master branch for analytics)
  <<: *excludes_schedules_tmp


memcheck:
  stage: test
  script:
    - bin/normalize "${CI_JOB_NAME}"
  <<: *excludes

# Schedule only actions

future-scheduled-actions:
# Do some task
  stage: sched-only
  script:
   - echo HELLO SCHED
  <<: *schedonly
