name: CI
on: [push, pull_request]

jobs:
  build:
    name: build-${{ matrix.os }}-${{ matrix.compiler }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            compiler: g++
          - os: ubuntu-22.04
            compiler: clang++
          - os: macos-14
            compiler: clang++
    if: "!contains(github.event.head_commit.message, 'ci skip')"

    steps:
      - uses: actions/checkout@v3
      - name: Add ./bin to PATH
        run: echo "bin" >> $GITHUB_PATH
      - name: Install Dependencies
        uses: ./.github/actions/setup-deps
      - name: Build
        run: |
          if [[ "${{ matrix.os }}" == "macos-"* ]]; then
            bin/bootstrap/Darwin-${{ matrix.compiler }}.release-arm64
          else
            bin/bootstrap/Linux-${{ matrix.compiler }}.release-x86_64
          fi
          bin/ai
      - name: Archive build
        run: tar -czf temp/build-artifact.tar.gz build
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-output-${{ matrix.os }}-${{ matrix.compiler }}
          path: temp/build-artifact.tar.gz

  test:
    name: test-${{ matrix.os }}-${{ matrix.test.compiler }}-${{ matrix.test.job }}
    needs: build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-22.04
            test:
              compiler: clang++
              job: normalize
          - os: ubuntu-22.04
            test:
              compiler: clang++
              job: comp
          - os: ubuntu-22.04
            test:
              compiler: g++
              job: normalize
          - os: ubuntu-22.04
            test:
              compiler: g++
              job: comp
          - os: ubuntu-22.04
            test:
              compiler: g++
              job: cov
          - os: ubuntu-22.04
            test:
              compiler: g++
              job: memcheck
          - os: macos-14
            test:
              compiler: clang++
              job: comp
    steps:
      - uses: actions/checkout@v3
      - name: Add ./bin to PATH
        run: echo "bin" >> $GITHUB_PATH
      - name: Install Dependencies
        uses: ./.github/actions/setup-deps
      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: build-output-${{ matrix.os }}-${{ matrix.test.compiler }}
          path: temp/
      - name: Extract build output
        run: tar -xzf temp/build-artifact.tar.gz
      - name: Run atf_ci
        run: |
          git config --global --add safe.directory $HOME/work/openacr/openacr
          git config --global user.email root@localhost
          git config --global user.name runner
          atf_ci -cijob:${{ matrix.test.job }}
